<div class="container-fluid" ng-if="msg">
	<div class="well" style="
    width: 25%;
    margin: auto;
">{{msg}}</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Welcome : <strong>{{profileData.email}}</strong> ( {{profileData.usertype}} Account )</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-4">
							<img ng-src="placeholder.jpg" alt="user profile image" class="profile-img img-thumbnail img-responsive">
						</div>
						<div class="col-md-8">
							<form ng-submit="updateProfile(profileData)">
								<div class="form-group">
									<label for="exampleInputPassword1">Name</label>
									<input type="text" class="form-control" id="exampleInputPassword1" placeholder="Name" ng-model="profileData.name" required>
								</div>
                <div class="form-group">
									<label for="exampleInputPassword1">Address Line 1</label>
									<input type="text" class="form-control" id="exampleInputPassword1" placeholder="Name" ng-model="profileData.addLineOne" required>
								</div>
                <div class="form-group">
									<label for="exampleInputPassword1">Address Line 2</label>
									<input type="text" class="form-control" id="exampleInputPassword1" placeholder="Name" ng-model="profileData.addLineTwo" >
								</div>
                <div class="form-group">
									<label for="exampleInputPassword1">Pincode</label>
									<input type="text" class="form-control" id="exampleInputPassword1" placeholder="Name" ng-model="profileData.pincode" required>
								</div>
                
                <div class="form-group">
									<label for="exampleInputPassword1">Status</label>
                  <select class="form-control" ng-model="profileData.status">
                    <option>true</option>
                    <option>false</option>
                  </select>
								</div>
								<button type="submit" class="btn btn-default">Update</button>
								<button type="button" class="btn btn-warning" ng-click="logout()">Logout</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>