<div class="container-fluid" ng-if="errormsg">
	<div class="well" style="
    width: 25%;
    margin: auto;
">{{errormsg}}</div>
</div>

<div class="container" ng-if="isLogin">
	<form class="form-signin" ng-submit="login(loginuser)">
		<h2 class="form-signin-heading">Please Login</h2>
		<label for="inputEmail" class="sr-only">Email address</label>
		<input type="email" id="inputEmail" class="form-control" ng-model="loginuser.email" placeholder="Email address" required
			autofocus>
		<label for="inputPassword" class="sr-only">Password</label>
		<input type="password" id="inputPassword" ng-model="loginuser.password" class="form-control" placeholder="Password" required>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
		<button class="btn btn-lg btn-warning btn-block" type="button" ng-click="changeLogin()">Or Register</button>

	</form>
</div>

<div class="container" ng-if="!isLogin">
	<form class="form-signin" ng-submit="register(user)">
		<h2 class="form-signin-heading">Please Register</h2>
		<label for="inputEmail" class="sr-only">Select User Access Type</label>
		<select class="form-control" ng-model="user.usertype" required>
			<option value="">Select Account Type</option>
                    <option value="Admin">Admin</option>
                    <option value="Vendor">Vendor</option>
                    <option value="Employee">Employee</option>
         </select>
		<label for="inputEmail" class="sr-only">Email address</label>
		<input type="text" id="inputEmail" class="form-control" ng-model="user.name" placeholder="Name " required autofocus>
		<label for="inputEmail" class="sr-only">Email address</label>
		<input type="email" id="inputEmail" class="form-control" ng-model="user.email" placeholder="Email address" required>
		<label for="inputPassword" class="sr-only">Password</label>
		<input type="password" id="inputPassword" ng-model="user.password" class="form-control" placeholder="Password" required>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
		<button class="btn btn-lg btn-warning btn-block" type="button" ng-click="changeLogin()">Or Login</button>

	</form>

</div>